<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Message</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
    <header style="text-align: center; margin-top: 32px;" class="container">
        <h1>Paste Burn</h1>
        <p>Paste and store text online. Gets burnt after the first view or a set period of time.</p>
    </header>
    <main class="container">

        <textarea id="msg" disabled>{{.Text}}</textarea>
    
    </main>
</body>

<script>
    // Function to adjust the height of the disabled textarea based on content
    function adjustHeight() {
        var textarea = document.getElementById("msg");
        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight + 2) + 'px';
    }

    // Adjust the height on page load
    window.onload = adjustHeight;
</script>

</html>